.row
  .span8.offset1.content
    - @events.each do |p|
      .posts
        .page-header
          %h1.small= p.title
        %p When?
        %h3= p.date
        %p Where?
        %h3= p.location
        %p= raw(truncate(p.about, :length => 1000, :omission => '... (continued)'))
        - if p.attachments.count == 1
          - p.attachments.each do |a|
            .post-image
              = image_tag(a.image.thumb('160x160#').url)
  = render 'shared/side_links'