!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Realize Theatre Group"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    / %link(href="images/favicon.ico" rel="shortcut icon")
    / %link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
    / %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    / %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")

  %body
    .bg-stripe#yellow= image_tag('y-stripe.png')
    .bg-stripe#blue= image_tag('b-stripe.png')
    .bg-stripe#green= image_tag('g-stripe.png')

    .container          
      .nav.pull-right.user-btns.well
        - if current_user?
          = render 'layouts/user_menu'
        - else
          %li= link_to "Login", login_url
        
        = render 'layouts/admin_menu' if current_user? && admin?
            
    .container
      .row
        .span12
          #head-nav.span1.offset7
            %ul.nav
              = content_tag_for(root_url, "Home", "y-link")
              = content_tag_for(shows_url, "Events", "b-link")
              = content_tag_for(about_url, "About Us", "g-link")
          #head-bg.span5.offset2
            / = image_tag('head-bg.png')
            %h1#realize realize
            %h2#theatre theatre group
    .container
      .row
        .span12
          - flash.each do |key, value|
            = content_tag(:div, value, class: "alert alert-#{key}")
          = yield
      .row
        %footer.span12
          %p &copy; Realize Theatre Group 2012
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    
    :javascript
      $('.dropdown-toggle').dropdown()
    